# /node_modules/* and /bower_components/* in the project root are ignored by default

# Ignore built files except build/index.js
dist/*

# avoid throw error when run eslint in package.json
package.json
package-lock.json
