# Vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# TypeScript v1 declaration files
typings/

# TypeScript cache
*.tsbuildinfo

# Stylelint cache
*.stylelintcache

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache


# Next.js build output
.next

dist

# vuepress build output
.vuepress/dist


